*
!*/
!/.gitignore

!alacritty/**
!btop/**
!eww/**
!polybar/**
!sxhkd/**
!bspwm/**
!bat/**
!fontconfig/**
!htop/**
!KDE/**
!kde.**org/
!kdedefaults/**
!kitty/**
!latte/**
!picom/**
!ranger/**
!rofi/**
!zellij/**
!hypr/**
!waybar/**
!swaylock/**
!gtk*/**


ksycoca**

!starship.toml
!kwinrc

**pycache**
